@import url(./common.css);

body {background-color: rgba(0, 0, 0, 0.2);}
main {margin: 10%;}

.header-b {background-color: rgba(0, 0, 0, 0);}
.log {width: 100%;}
h2 {
    text-align: center;
    margin-bottom: 32px;

    font-size: 24px;
    font-weight: 600;
}
.popup-log {
    width: 480px;
    margin: 0 auto;
    padding: 30px;

    background-color: #FFFFFF;
    border-radius: 20px;

    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.2);
}

.popup-log > .id > label {font-size: 0;}
.popup-log > .id > input {
    width: 100%;
    padding: 5% 0;
    border: none; border-bottom: 1px solid #dbdbdb;
}

.popup-log > .password {
    margin: 20px 0;
    position: relative;
}
.popup-log > .password > label {font-size: 0;}
.popup-log > .password > input {
    width: 100%;
    padding: 5% 0;
    border: none; border-bottom: 1px solid #dbdbdb;
}
.popup-log > .password > a {
    position: absolute;
    right: 0%; top: 30%;

    width: 30px; height: 30px;
}

.popup-log > .opt {
    display: flex;
    justify-content: space-between;
}
.popup-log > .opt > .keep > label {color: #767676;}
.popup-log > .opt > .find {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.popup-log > .opt > .find > a {color: #767676;}
.popup-log > .login {
    display: inline-block;

    text-align: center;

    font-size: 16px;
    border-radius: 10px;

    width: 100%;
    padding: 15px;
    margin: 40px 0;

    background-color: #000000;
    color: #FFFFFF;
}

.popup-log > .sns > p {
    text-align: center;
    color: #767676;
}
.popup-log > .sns > div {
    display: flex;
    justify-content: center;
}
.popup-log > .sns > div > a {
    margin: 8px;
}
.popup-log > .nomem {
    text-align: center;
    font-size: 12px;

    margin-top: 40px;
}

/* <!-- mobileeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee --> */

@media (max-width: 767px) {

h1 {display: none;}

.log {
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.popup-log {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
}

.popup-log > .opt > .keep > label {
    color: #767676;
    width: 100%;
    font-size: 14px;
}
.popup-log > .opt > .find {
    text-align: right;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.popup-log > .opt > .find > a {
    font-size: 14px;
}
.popup-log > .sns > p {
    font-size: 12px;
}
.popup-log > .nomem {
    margin-top: 5%;
}

}