@import url(./common.css);

body {background-color: #EEEEEE;}
main {margin: 180px 0 500px 0;}

.header-b {background-color: #EEEEEE;}
.wishlist {
    width: 80%;
    margin: 0 auto;
}
.wishlist > p {
    margin-bottom: 60px;

    font-size: 24px;
    font-weight: 600;

    text-align: center;
}

.wishlist > ul {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}
.wishlist > ul > li {
    width: 30%;

    position: relative;
}

.wishlist > ul > li > .pro-img > .btn-wish {
    background: url(../resources/00.header/wishlist-f.png) no-repeat center;
}
.wishlist > ul > li > .pro-img > .product-img > img {
    width: 100%;
}
.wishlist > ul > li > .pro-img {
    width: 100%;
    position: relative;
}


.wishlist > ul > li > .pro-txt {
    margin-top: 16px;
}
.wishlist > ul > li > .pro-txt > p {
    margin: 1px 0;
}
.wishlist > ul > li > .pro-txt > p:nth-of-type(1) {
    color: #505050;
}
.wishlist > ul > li > .pro-txt > p > span {
    font-size: 18px;
    font-weight: 600;
    margin-right: 2px;
}


/* <!-- mobileeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee --> */
@media (min-width: 768px) and (max-width: 1920px) {}

@media (max-width: 767px) {
    
main {margin: 10% 0;}

.mobile h1 {display: none;}

.wishlist {width: 90%;}

.wishlist > ul > li {
    width: 32%;
    margin-bottom: 4%;
}
.wishlist > ul > li > .pro-img > .btn-wish {
    background: url(../resources/10.mobile/m-wishlist-f.png) no-repeat center;
    margin: 0;
}
.wishlist > ul > li > .pro-txt > p {font-size: 1.8vw;}
.wishlist > ul > li > .pro-txt > p > span {font-size: 2vw;}
}