/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/*  개인 슬라이드화면 스타일 수정시 참고  */

/*  슬라이드 이미지, 좌우버튼 인디게이터  */
.slider{
    width:100%;
    /* height:60vh; */
    position: relative;
}
.slick-list{
    width:100%;
    height:100%;
}
.cellphone .slide .slick-list{
    border-radius: 40px;
}
.slick-list img{
    width:100%;
    height:100%;
}

/* 좌우버튼  */
.slick-arrow{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    z-index:2;
    font-size: 0;
    border:0;
    background:none;
}
.slick-prev{
    display:none;
    left:5%;
}
.slick-prev::after{
    content:'';
    display:inline-block;
    width:50px;
    height:50px;
    display:none;
}
.slick-next{
    display:none;
    right:5%;
}
.slick-next::after{
    content:'';
    display:inline-block;
    width:50px;
    height:50px;
    display:none;
}




/*  인디게이터 ul li button */
.slick-dots{
    position:absolute;
    left:-58.5vw; bottom:100px;
    margin-top:25px;
    display:flex;
    justify-content: flex-start;
}

.s-1 .slick-dots li.slick-active::after{
    width:350px;
    position:absolute;
    left:0; top:-120px;
    white-space: pre;
}
.s-1 .slick-dots li.slick-active:nth-of-type(1)::after{
    content:'하루의 시작과 마무리를 오디오북과 함께\A지하철에서도, 잠들기 전에도 독서하세요';
}
.s-1 .slick-dots li.slick-active:nth-of-type(2)::after{
    content:'귀로 듣다가 눈으로도 같이 보면\A더 내용이 잘 이해돼요';
}
.s-1 .slick-dots li.slick-active:nth-of-type(3)::after{
    content:'30분만에 책 요약\A핵심만 쏙 골라 읽어주는 오디오북';
}
.s-1 .slick-dots li.slick-active:nth-of-type(4)::after{
    content:'이제훈부터 옥주현까지\A셀럽이 읽어주는 오디오북';
}
.s-1 .slick-dots li.slick-active:nth-of-type(5)::after{
    content:'내가 만든 오디오북\A오디오북도 만들고 돈도 벌고';
}

.s-2 .slick-dots li.slick-active::after{
    width:350px;
    position:absolute;
    left:0; top:-120px;
    white-space: pre;
}
.s-2 .slick-dots li.slick-active:nth-of-type(1)::after{
    content:'시선 추적 기능\A눈동자로 페이지를 넘길 수 있어요';
}
.s-2 .slick-dots li.slick-active:nth-of-type(2)::after{
    content:'어느 기기에서도 OK\A스마트폰, 태블릭, PC, E ink 기기까지';
}
.s-2 .slick-dots li.slick-active:nth-of-type(3)::after{
    content:'다크 모드\A전자책이 눈 아프다는 편견은 버려요';
}
.s-2 .slick-dots li.slick-active:nth-of-type(4)::after{
    content:'자유로운 보기 설정\A줄 간격부터 폰트까지 내 마음대로! 독서를 더 편하게!';
}

.s-3 .slick-dots li.slick-active::after{
    width:350px;
    position:absolute;
    left:0; top:-120px;
    white-space: pre;
}
.s-3 .slick-dots li.slick-active:nth-of-type(1)::after{
    content:'오늘의 토픽\A최신 트렌드와 관련된 책으로 큐레이션';
}
.s-3 .slick-dots li.slick-active:nth-of-type(2)::after{
    content:'오늘의 책\A이 책만 읽어도 오늘 잘 살았다';
}
.s-3 .slick-dots li.slick-active:nth-of-type(3)::after{
    content:'이럴 땐\A이런 책 내 상황에 딱 맞는 회원들의 추천 책';
}



.slick-dots li button{
    cursor:pointer;
    padding:3px 18px;
    background: #F6F6F6;
    border:1px solid #333;
    border-radius: 20px;
    font-size: 14px;
    margin-right:10px;
}
.slick-dots li.slick-active button{
    background: #333;
    color:white;
}

.single-item{
    position:static;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width:95%;
}
.single-item img{
    /* width:95%; */
    border-radius: 0px;
    margin:0;
}
.single-item video{
    /* width:90%; */
    border-radius: 0px;
    font-size:0;
    vertical-align: top;
    padding:0;
}

.slick-active img{
    vertical-align: bottom;
}



@media (min-width:1601px) and (max-width:2000px){
    .slick-dots{
        left:-44vw; bottom:100px;
    }
}

@media (min-width:768px) and (max-width:1200px){
    .slick-dots{
        left:-55vw; bottom:20px;
    }
    .multiple-items li:nth-of-type(1){
        margin-left:5vw;
    }
    .multiple-items li:nth-of-type(7){
        margin-right:5vw;
    }
}

@media (min-width:360px) and (max-width:767px){
    .slick-dots{
        left:50%; bottom:-150px;
        transform: translateX(-50%);
    }
    .s-1 .slick-dots li.slick-active::after{
        font-size:14px;
        width:350px;
        position:absolute;
        left:50%; top:-80px;
        transform: translateX(-50%);
        text-align: center;
        white-space: pre;
    }
    .s-2 .slick-dots li.slick-active::after{
        font-size:14px;
        width:350px;
        position:absolute;
        left:50%; top:-80px;
        transform: translateX(-50%);
        text-align: center;
        white-space: pre;
    }
    .s-3 .slick-dots li.slick-active::after{
        font-size:14px;
        width:350px;
        position:absolute;
        left:50%; top:-80px;
        transform: translateX(-50%);
        text-align: center;
        white-space: pre;
    }
    .multiple-items li:nth-of-type(1){
        margin-left:5vw;
    }
    .multiple-items li:nth-of-type(7){
        margin-right:5vw;
    }
    .single-item img{
        border-radius: 0px;
    }
    .single-item video{
        border-radius: 0px;
    }
}