@import url('common.css');

body{
    #load {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        opacity: 1;
        background: #222;
        z-index: 200;
        text-align: center;
        $colors:
        hsla(337, 84, 48, 0.75)
        hsla(160, 50, 48, 0.75)
        hsla(190, 61, 65, 0.75)
        hsla( 41, 82, 52, 0.75);
        $size: 2.5em;
        $thickness: 0.5em;
        $lat: ($size - $thickness) / 2;
        $offset: $lat - $thickness;
        .loader {
        position: relative;
        width: $size;
        height: $size;
        transform: rotate(165deg);
        &:before,
        &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: $thickness;
        height: $thickness;
        border-radius: $thickness / 2;
        transform: translate(-50%, -50%);
        }
        &:before {
        animation: before 2s infinite;
        }
        &:after {
        animation: after 2s infinite;
        }
        }
        @keyframes before {
        0% {
        width: $thickness;
        box-shadow:
        $lat (-$offset) nth($colors, 1),
        (-$lat) $offset nth($colors, 3);
        }
        35% {
        width: $size;
        box-shadow:
        0 (-$offset) nth($colors, 1),
        0   $offset  nth($colors, 3);
        }
        70% {
        width: $thickness;
        box-shadow:
        (-$lat) (-$offset) nth($colors, 1),
        $lat $offset nth($colors, 3);
        }
        100% {
        box-shadow:
        $lat (-$offset) nth($colors, 1),
        (-$lat) $offset nth($colors, 3);
        }
        }
        @keyframes after {
        0% {
        height: $thickness;
        box-shadow:
        $offset $lat nth($colors, 2),
        (-$offset) (-$lat) nth($colors, 4);
        }
        35% {
        height: $size;
        box-shadow:
        $offset  0 nth($colors, 2),
        (-$offset) 0 nth($colors, 4);
        }
        70% {
        height: $thickness;
        box-shadow:
        $offset (-$lat) nth($colors, 2),
        (-$offset) $lat nth($colors, 4);
        }
        100% {
        box-shadow:
        $offset $lat nth($colors, 2),
        (-$offset) (-$lat) nth($colors, 4);
        }
        }
        html,
        body {
        height: 100%;
        }
        .loader {
        position: absolute;
        top: calc(50% - #{$size / 2});
        left: calc(50% - #{$size / 2});
        }
    }
    width:100vw; height:100vh;
    box-sizing: border-box;
    header{
        text-align: center;
        padding:20px;
        border-bottom:1px solid #ddd;
        font-weight: 900;
        margin-bottom:50px;
    }
    main{
        width:700px;
        margin:0 auto;
        span{}
        form{
            margin:10px 0 20px 0;
            display:flex;
            justify-content: space-between;
            align-items: center;
            #telno{
                width:100%;
                padding:10px;
                font-size: 18px;
                border:1px solid #999;
                margin-right:10px;
            }
            #submitbtn{
                padding:10px 30px;
                font-size: 18px;
                border:1px solid #ffeb60;
                background-color: #ffeb60;
            }
        }
        p{
            font-size: 16px;
            color:#999;
            margin:5px 0;
            a{
                color:#999;
                &:visited{
                    color:#999;
                }
            }
        }
        hr{
            border:0px;
            border-bottom:1px solid #999;
            margin:30px 0;
        }
    }
    footer{
        width:100%;
        padding:20px;
        position:fixed;
        left:0; bottom:0;
        background-color: #ffeb60;
        text-align: center;
        font-weight: 900;
        box-sizing: border-box;
    }
}


// TODO 반응형 모바일 
@media (min-width:360px) and (max-width:767px){
body{
    main{
        width:90vw;
        form{
            #telno{
                font-size:14px;
            }
            #submitbtn{
                font-size:14px;
            }
        }
        p{
            font-size:12px;
        }
    }
}
}